.span-24, .span-16, .span-8, .span-7, .span-5, .span-4, .span-2  {
    /*outline: 1px solid lime;*/
    /*border: solid;*/
    /*border-color: #000000;*/
}


/*.span-border {border: 1px solid black;}*/

/*.span-8.span-border {margin-left: -1px; margin-right: 9px;}*/
/*.span-24.span-border {margin-left: -1px; margin-right: 9px;}*/
/*.span-16.span-border {margin-left: -1px; margin-right: 9px;}*/


#navigate {
    /*height: 200pt;*/
    margin-bottom: 20pt;
}

#content {
    /*height: 200pt;*/

}


.bookPic {
    width: 150px;
}

.pic {
   width : 100%;
}

.bookDesc {
    /*height: 100pt;*/
}

.bookPrice {
    outline: 2px solid #0066cc;
    color: white;
    background-color: #0066cc;
    text-align: center;
}


#sidebar {
    height: 200pt;
}

.book {
    margin-bottom: 20pt;
    outline-color: #006600;
}